---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Stone Cold Crazy. All rights reserved.
	<div class="social-links">
		<a href="https://www.linkedin.com/in/stijnbannier/" target="_blank">
			<span class="sr-only">Find Stone on LinkedIn</span>
			<img
      src="https://raw.githubusercontent.com/stonecoldcrazymusic-dotcom/home/refs/heads/main/src/content/linkedin.png"
   heighth="32" width="32">
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
